.cartItemContainer {
    display: grid;
    width: 400px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(245, 245, 245);
    padding: 10px 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    height: auto;
}

.food-image img {
    width: 100px;
}

.food-info h3 {
    color: #f91944;
}

.food-info {
    margin: 0 15px;
}

.cartItemContainer .cart {
    width: 80%;
    height: 120px;
    padding: none;
    font-size: 16px;
    border: none;
}

.cartItemContainer .cart-btn{
    background-color: rgb(245, 245, 245);
}